<configuration>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to non-www" stopProcessing="true">
            <match url="(.*)" negate="false"></match>
            <action type="Redirect" url="http://pasionqueconecta.com/infografia/{R:1}"></action>
            <conditions>
                <add input="{HTTP_HOST}" pattern="^pasionqueconecta\.com$" negate="true"></add>
            </conditions>
        </rule>
      </rules>
    </rewrite>-->
	
	<rewrite> 
	<rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
	</rules>
	</rewrite>


  </system.webServer>
</configuration>